/* RESETEO UNIVERSAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// COLORES
    $color1: #061D37;
    $color2: #0A305C;
    $color3: #4C6D9F;
    $color4: #8A97BC;
    $color5: #FCF2CB;

//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap');

    $font1: "Platypi", serif; //Platypi CUERPO
    $font2: "Crimson Text", serif; // Crimson TITULOS weight 400 italic
    $font3: "Questrial", sans-serif; // Questrial HEADER Y FOOTER weight 400
    

// HEADER
.navbar{
    background-color: $color2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

        .nav-link{
            color: $color5;
            font-family: $font3;
            font-weight: 400;
            padding-left: 7px;         
        }
}

//MAIN

main{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}

/*CALL TO ACTION*/
.cta-home{
    background-color: $color4;
    font-family: $font1;
        .btn-cta-home{
            background-color: $color2;
            color: $color5;
                a{
                    text-decoration: none;
                    color: $color5;
                }
        }
}

/*BOTONERA*/
.botonera-home{
    background-color: $color1;
    padding: 20px;
    padding-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    max-width: none;

    .ul-botonera-home{
        list-style: none;
        padding-left: 0;
        
    }   
}

.ul-botonera-home a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: white;
}

.ul-botonera-home img{
    width: 65px;
}

/*PROPIEDADES DESTACADAS*/

.propiedades-destacadas{
    color: $color3;
    padding: 20px;
    font-family: $font2;
}

.card {
    position: relative;
    /* Estilos para la tarjeta */
    transition: transform 0.3s ease; /* Transición suave */
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
}

.btn-contacto {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave */
}

.card:hover .btn-contacto {
    opacity: 1; /* Visible al hacer hover */
}


//FOOTER
footer{
    background-color: $color2;
    color: $color5;
    font-family: $font3;
    font-weight: 400;
}

/* MEDIAQUERIES */
@media only screen and (min-width: 768px){
    
    /*HEADER*/

    .collapse{
        display: flex;
        justify-content: end;
    }
}