/* RESETEO UNIVERSAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// COLORES
    $color1: #061D37;
    $color2: #0A305C;
    $color3: #4C6D9F;
    $color4: #8A97BC;
    $color5: #FCF2CB;
    $color6: #5a5a5a;

    /*TAMAÑOS DE FUENTES*/
    /*H1*/
    $fsizeh1: 45px;
    $fsizeh1-md: 70px;
    /*H2*/
    $fsizeh2: 30px;
    $fsizeh2-md: 40px;
    /*P*/
    $fsizep: 18px;
    $fsizep-md: 22px;
    /*LINKS NAV*/
    $fsizenav: 20px;
    $fsizenav-md: 22px;
    /*TITLE CARD*/
    $fsizecard: 22px;
    $fsizecard-md: 28px;
    /*BUTTON*/
    $fsizebtn:22px;
    /*FOOTER-TOP*/
    $ffootertop: 12px;
    $ffootertop-md: 14px;


//FUENTES
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins&family=Questrial&display=swap');

    $font1: "Platypi", serif; //Platypi CUERPO
    $font2: "Poppins", sans-serif; // Poppins Titulos
    $font3: "Questrial", sans-serif; // Questrial HEADER Y FOOTER weight 400
    $font4: "Karla", sans-serif; // H3 Karla
    

// HEADER
.navbar{
    background-color: $color2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    font-weight: bold;
    font-family: $font3;
    font-size: $fsizenav;

//HOVER SOBRE LINKS
    .navbar-nav{

        a {
            position: relative;
        }
        
            a::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: black;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
            }
                    a:hover::before {
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                        a:hover{
                            color: black;
                        }
    }

        .nav-link{
            color: $color5;
            font-family: $font3;
        }
}

//MAIN

main{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
        p, li, a{
            font-size: $fsizep;
            font-family: $font1;
        }
        h2, h4{
            font-size: $fsizeh2;
            font-family: $font2;
        }
        h3{
            font-size: $fsizecard;
            font-family: $font4;
        }

}

/*CALL TO ACTION*/
.cta-home{
    background-color: $color4;
    font-family: $font1;
        h1{
            font-size: $fsizeh1;
        }

        .btn-cta-home{
            background-color: $color2;
            color: $color5;
                a{
                    text-decoration: none;
                    color: $color5;
                    font-size: 22px;
                }
        }
}

/*BOTONERA*/
.botonera-home{
    background-color: $color1;
    padding: 20px;
    padding-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    max-width: none;

    .ul-botonera-home{
        list-style: none;
        padding-left: 0;

            a:hover{
                transform: scale(1.2);
            }
        
    }   
}

.ul-botonera-home a{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: white;
}

.ul-botonera-home img{
    width: 65px;
}

/*PROPIEDADES DESTACADAS*/

.propiedades-destacadas {
    color: $color3;
    padding: 20px;
    font-family: $font2;
        h2{
            color: $color2;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
            font-weight: bold;
        }
}

.card {
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    margin-bottom: 70px;
}

.card-title{
    background-color: $color2;
    color: $color5;
}

.card:hover {
    transform: scale(1.05);
    opacity: 1;
}

.card-body{
    padding: 10px;
}

.card-body ul{
    list-style: none;
}

.btn-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0; 
    
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.card-info {
    opacity: 0; 
}

.card:hover .btn-card,
.card:hover .card-info {
    opacity: 1;
}

//ENCONTRANOS
.mapa-home{
    background-color: $color4;
    text-align: center;
    width: 100%;
    padding: 20px 0 0px 0px;
    max-width: 100%;
        h4{
            text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd, 2px 2px 2px rgba(206,89,55,0);
            font-weight: bold;
        }
        iframe{
            width: 100%;
        }
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;

        .contacto-footer-top li{
            list-style: none;
            text-align: justify;
            font-size: $ffootertop;
        }

        .fa-instagram {
            font-size: 30px;
            color: #e4405f; 
            height: 50px; 
            width: 50px; 
            border-radius: 50%;
            background-color: #f8f8f8;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease; 
            line-height: 1.7;
        }

            .fa-instagram:hover {
                background-color: #e4405f; 
                color: white;
            }
        
        .footer-top-p{
            font-size: $ffootertop;
        }

}

//FOOTER
footer{
    background-color: $color2;
    color: $color5;
    font-family: $font3;
    font-size: $fsizep;

        .redes a {
            color: $color5;
            text-decoration: none;
            font-size: 30px ;
            align-items: baseline;
        }

        .redes i:hover{
            transform: scale(1.15);
        }

        .invisible{
            visibility: hidden;
        }
}

/*BOTON WHATSAPP*/

.whatsapp {
    height: 50px; 
    width: 50px; 
    background-color: #4cc85a99; 
    color: black; 
    text-decoration: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    font-size: 30px; 
    line-height: 50px; 
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
}

.whatsapp:hover {
    background-color: #128c7e; 
}


/* MEDIAQUERIES */
@media only screen and (min-width: 768px){
    
    /*HEADER*/

    .collapse{
        display: flex;
        justify-content: end;
    }

    /*ENCONTRANOS*/
.footer-top{

        .contacto-footer-top li{
            font-size: $ffootertop-md;
        }

        .footer-top-p{
            font-size: $ffootertop-md;
        }

}

}
